<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.xcprivacy
   DreamAnalyzer

   Created by Timur on 5/14/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>OpenAI_API_Key</key>
    <string>REDACTED</string>
</dict>
</plist>
